{% extends "layout.html" %}

{% block content %}

<h1>Posts</h1>
<h2>Filters</h2>
{% if role != 'user': %}
<form action="{{url_for('manage_posts')}}" method="post">
    <fieldset>
        {{form.hidden_tag()}}
        {{form.title.label}} {{form.title}} <br />
        {{form.author.label}} {{form.author}} <br />
        {{form.category.label}} {{form.category}} <br />
        {{form.submit}}
    </fieldset>
</form>
{% endif %}
<table>
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Status</th>
        <th>Created</th>
        <th>Category</th>
    </tr>
    {% for rec in data %}
    <tr>
        <td>{{rec[1]}}</td>
        <td>{{rec[2]}}</td>
        <td>{{rec[4]}}</td>
        <td>{{rec[5]}}</td>
        <td>{{rec[6]}}</td>
        <td>
            <a href="/post/{{rec[0]}}" class="btn btn-primary">View</a>
            <a href="{{url_for('edit_post', pid=rec[0])}}" class="btn btn-warning">Edit</a>
            <a href="{{url_for('manage_tags', pid=rec[0])}}" class="btn btn-default">Tags</a>
            {% if role == 'user' %}
                <a href="{{url_for('remove_post', pid=rec[0])}}" class="btn btn-danger">Remove</a>
            {% else %}
                {% if rec[4] is none %}
                <a href="{{url_for('publicate_post', pid=rec[0])}}" class="btn">Publicate</a>
                {% else %}
                <a href="{{url_for('hide_post', pid=rec[0])}}" class="btn">Hide</a>
                {% endif %}
            {% endif %}

        </td>
    </tr>
    {% endfor %}

</table>


{% endblock %}