{% extends "layout.html" %}

{% block content %}

<h1>{{post[2]}}</h1>
<h2>{{author}}</h2>
<p><b>Created: </b>{{post[5]}}</p>
<p><b>Category: </b>{{post[6]}}</p>
<p>{{post[3]}}</p>

<h2 name="tag">Tags</h2>
{% if tag_form is none %}
<ul>
    {% for tag in tags %}
    <li>{{tag[0]}}</li>
    {% endfor %}
</ul>
{% else %}

<table>
    <tr>
        <th>Tag Name</th>
    </tr>
    {% for tag in tags %}
    <tr>
        <td>{{tag[0]}}</td>
        <td>
            <a href="{{ url_for('remove_tag_from_post', pid=post[0], tag=tag[0]) }}" class="btn btn-primary">Remove</a>
        </td>
    </tr>

    {% endfor %}


</table>
<form method=post>
    <fieldset>
        {{tag_form.hidden_tag()}}
        {{tag_form.tag.label}} {{tag_form.tag}} <br />
        {{tag_form.submit}}
    </fieldset>
</form>
{% endif %}

{% if answer %}
<h2>Answer by <i>{{answer[1]}}</i></h2>
<p><i>Created: {{answer[5]}}</i></p>


    {% if answer_form %}

    <h2 name="answer">Add Answer</h2>
    <form action="{{url_for('add_answer', pid=post[0])}}" method="post">
        {{answer_form.hidden_tag()}}
        {{answer_form.title.label}} {{answer_form.title}} <br />
        {{answer_form.text.label}} {{answer_form.text}} <br />
        {{answer_form.submit}}
        <a href="{{url_for('remove_answer', aid=answer[0])}}" class="btn btn-danger">Remove</a>
    </form>

    {% else %}

        {% if answer[3] %}
<h3>{{answer[3]}}</h3>
        {% endif %}

<p>{{answer[4]}}</p>

    {% endif %}

{% else %}

    {% if answer_form %}

    <h2 name="answer">Add Answer</h2>
    <form action="{{url_for('add_answer', pid=post[0])}}" method="post">
        {{answer_form.hidden_tag()}}
        {{answer_form.title.label}} {{answer_form.title}} <br />
        {{answer_form.text.label}} {{answer_form.text}} <br />
        {{answer_form.submit}}
    </form>

    {% endif %}

{% endif %}

{% endblock %}