{% extends "layout.html" %}

{% block content %}

<h1>Users</h1>
<h2>Filters</h2>
<form action="{{url_for('manage_users')}}" method="post">
    <fieldset>
        {{form.hidden_tag()}}
        {{form.name.label}} {{form.name}} <br />
        {{form.role.label}} {{form.role}} <br />
        {{form.submit}}
    </fieldset>
</form>
<table>
    <tr>
        <th>Name</th><th>Role</th><th>Registered</th><th>Actions</th>
    </tr>
    {% for user in data %}
        <tr>
            <td>{{user[2]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[4]}}</td>
            <td>
                <a href="{{url_for('manage_users_edit', uid=user[0], from=request.path, args=request.query_string)}}" class="btn btn-warning">Edit</a>
                {% if user[5] is none %}
                <a href="{{url_for('manage_users_block', uid=user[0], from=request.path, args=request.query_string)}}" class="btn btn-danger">Block</a>
                {% else %}
                <a href="{{url_for('manage_users_unblock', uid=user[0], from=request.path, args=request.query_string)}}" class="btn btn-danger">Unblock</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

</table>


{% endblock %}