<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>User</h1>
    <table>
        {% for dict_item in U %}
        <tr><td>{{dict_item}}</td><td>{{U[dict_item]}}</td></tr>
        {% endfor %}
    </table>
    

    <br />
    <br />

    <h1>Post</h1>
    <table>
        {% for dict_item in P %}
        <tr><td>{{dict_item}}</td><td>{{P[dict_item]}}</td></tr>
        {% endfor %}
    </table>
</body>
</html>