<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="row">
        <form method=post enctype=multipart/form-data>
            PID:<br>
            <input type="text" name="PID" , value="{{ U["PID"] }}"><br>
            PHONE:<br>
            <input type="text" name="PHONE" , value="{{U["PHONE"]}}"><br>
            POSTTITLE:<br>
            <input type="text" name="POSTTITLE" , value="{{ U["POSTTITLE"] }}"><br>
            POSTTEXT:<br>
            <input type="text" name="POSTTEXT" , value="{{U["POSTTEXT"]}}"><br>
            PUBLISHED:<br>
            <input type="text" name="PUBLISHED" , value="{{U["PUBLISHED"]}}"><br>
            POSTCREATEDTIME:<br>
            <input type="text" name="POSTCREATEDTIME" , value="{{U["POSTCREATEDTIME"]}}"><br>
            CATEGORYTITLE:<br>
            <input type="text" name="CATEGORYTITLE" , value="{{U["CATEGORYTITLE"]}}"><br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>
</html>